/* Stylesheet -- index.htm */

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    --primary-color: #121212;
    --secondary-color: #181818;
    --primary-accent-color: rgb(44, 44, 238);
    --secondary-accent-color: rgb(60, 60, 235);
    --text-color: #cdcdcd;

}

body {
    margin: 0;   
    padding: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    min-height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    font-size: medium;
    text-transform: uppercase;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: var(--primary-accent-color);
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-container {
    padding-left: 10px;
    padding-right: 10px;
}


.navbar-links{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vw;
    padding-left: 2vw;
}

.navbar-links a {

}

.navbar-links a:hover{
    color: var(--secondary-accent-color);
}

.main-content {

}

.page {
    min-width: 99vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
}

.content-section {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
    padding: 40px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-grow: 1;
}

.landing {
    background: var(--secondary-color);
}

.intro {
    background: var(--primary-color);
}

.history {
    background:var(--secondary-color);
}

.history .content-section {
    right: 10vw;
    width: 45vw;
}


.history-bg-img {
    position: absolute;
    overflow-x:hidden;
    max-height: 100vh;
    max-width: 99vw;
    opacity: .5;
    left: 0;

}

.distros {
    background: rgb(240,240,240);
}

.img {
    height: 50vh;

}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.back-to-top button {
    border: none;
    font-size: large;
    background-color: lightslategray;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


@media only screen and (max-width: 768px) {
    .navbar-links{
        width: 60%;
        padding-right: 4vw;
        padding-left: 4vw;
    }
    .content-section {
        max-width: 80vw;
    }
}