/* Stylesheet -- index.htm */

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    --primary: white;
    --secondary: #cdcdcd;
    --text-light: white;
    --text-dark: black;

}

body {
    margin: 0;   
    padding: 0;
    background-color: var(--primary);
    color: var(--text-dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

header {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: fixed;
    top: 0;
    min-height: 50px;
    width: 100%;
    flex-direction: row;
    background-color: var(--primary);
    color: var(--text-dark);
    font-size: medium;
    text-transform: uppercase;
    z-index: 1;
    opacity: .9;
}

header a {
    text-decoration: none;
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: inherit;
}

.logo-container {
    display: flex;
    height: inherit;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 30px;
    display: flex;
}


.navbar-links{
    display: flex;    
    width: 30%;
    justify-content: space-between;
    padding-right: 2vw;
    padding-left: 2vw;
    align-items: center;
}

.navbar-links a {
    padding: 5px;
    border-radius: 5px;
    color: var(--text-dark);
}

.page {
    min-width: 99vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: var(--opaque-secondary-color);
    width: 100%;
    min-height: inherit;
    line-height: 1.6;
}
.content-section p {
    align-self: flex-start;
}

.page-title {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding-top: 20px;
    font-size: larger;
    text-decoration: underline;
}

.landing {
    background: var(--primary-color);
    color: var(--text-light);
    align-items: center;
    justify-content: center;
}

.landing .content-section {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: --var(--text-light);
    text-shadow: 2px 2px 4px black;
}

.landing .headline-top {
    font-size: 40px;
    padding-top: 50vh;
}
.landing .headline-bottom {
    margin-top: -50px;
    font-size: 20px;
}

.landing-bg-img {
    position: absolute;
    overflow-x: hidden;
    z-index: -1;
}

.intro {
    background: var(--primary-color);
}


.intro-extras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-top: auto;
}


.history {
    background:var(--primary-color);

}


.tux-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: var(--text-dark);
    border: 1px solid black;
    max-width: 200px;
    padding: 10px;
    margin: 10px;
}
.tux {
    width: 100px;
}

.photo-credit {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: var(--text-dark);
    margin-top: auto;
    padding-bottom: 20px;
}

.photo-credit a {
    color: var(--text-dark);
}

.history-bg-img {
    position: absolute;
    overflow-x:hidden;
    max-height: 100vh;
    max-width: 99vw;
    opacity: .2;
    left: 0;
    z-index: -1;
}

.distros {
    background: var(--primary-color);
}


.distros-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 100%;
    margin-top: auto;
}
.distro-item {
    display: flex;
    padding: 20px;
}

.distro-logo {
    height: 50px;
    transition: all .5s ease;
}

.distro-logo.logohover {
    transform: scale(1.2)
}


footer {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: var(--secondary);
    bottom: 0;
    right: 0;
    justify-content: center;
}

.footer-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socials .social-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.socials .social-div p {
}

.socials img {
    height: 24px;
}

.socials a {
    border-radius: 50%;
    height: 24px;
    transition: all .5s ease;
    padding: 5px;
}

.socials a:hover {
    background-color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: small;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.back-to-top button {
    border: none;
    font-size: large;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--primary);
}

@media only screen and (min-width: 769px) {
    .navbar {
        padding-left: 200px;
        padding-right: 200px;
    }

    .hamburger{
        display: none;
    }
    
    .hamburger-links {
        display: none;
    }

    .landing-bg-img {
        width: 99vw;
        max-height: 100vh;
    }
    
    .landing-bg-img.desktop {
        display: inline;
    }
    
    .landing-bg-img.mobile {
        display: none;
    }

    .embedded-yt-vid {
        width: 480px;
        height: 270px;
    }


    .distros-box {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 768px) {

    .content-section {
        max-width: 80vw;
    }

    .navbar-links{
        display: none;
    }
    
    .hamburger {
        display: flex;
        cursor:pointer;
        flex-direction: column;
        justify-content: center;
        margin-right:20px;
        margin-left:20px;
        z-index: 1;
    }
    
    .line {
        width: 20px;
        height: 2px;
        background-color: var(--text-dark);
        margin: 2px;
    }

    .hamburger-links {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: column;
        position: fixed;
        background: var(--primary);
        width: 0px;
        height: 100vh;
        right: 0;
        justify-content: space-around;
        display:flex;
        transition: width .5s;
    }

    .hamburger-links.open {
        width: 40%;
    }
    
    .hamburger-links li a {
        padding: 20px;
        color: var(--text-dark);
    }

    .name-container {
        padding-left: 10px;
    }

    .landing-bg-img {
        max-height: 100vh;
        width: 99vw;
    }

    .landing-bg-img.desktop {
        display: none;
    }
    
    .landing-bg-img.mobile {
        display:flex;
    }

    .embedded-yt-vid {
        width: 90vw;
        height: 60vw;
    }

    .history-bg-img {
        padding-top: 100px;
    }

    .back-to-top {
        bottom: 60px;
    }

}

@media only screen and (max-width: 350px) { 
    .hamburger-links {
        font-size: small;
    }
    .hamburger-links.open {
        width: 50%;
    }
}