/* Stylesheet -- index.htm */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;   
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
    background-color: black;
    font-size: xx-large;
    transition: all .2s ease;
}

header.scrolled {
    font-size: large;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw;
}

.navbar-links{
}

.navbar-links a {
    padding-left: 2vw;
}

.main-content {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content .content-section {
    max-width: 40vw;
}

.anchor {
    padding-top: 100px;
    margin-top: -100px;
}

@media only screen and (max-width: 768px) {
    .main-content .content-section{
        max-width: 80vw;
    }
}